body{
  /* background-image: linear-gradient(to bottom right, #660001, black); */
  background-image: url(./ever-wild-unsplash.jpg);
  background-size:cover;
  font-size: 100%;
}
.App {
  text-align: center;
  /* background: pink; */
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;

  height: 100%;
  color:#edf3f4;
}
.About {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  /* background: aqua; */
  padding-top: 3%;
  /* width: 75%; */
  padding-left: 10%;
  padding-right: 10%;
  color:#edf3f4;

}
.quick-start{
  text-align: center;

}
.quick-start div{
  border: 2px solid #32374f;
  margin: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  width: 40%;
  display: inline-block;
  /* background-image: linear-gradient(to bottom right, #2f3035, #747787) */

}
.quick-start ul{
  text-align: left;
  font-size: .8em;
}

.shedded{
  height: 340px;
  /* background: aqua; */
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border: 5px double #ad967c;
  visibility: visible;
}
.center{
  padding-top: 30px
}

.hand1, .hand2{
  visibility: hidden;
  margin: 2px;
}

.cardBorder{
  border: 1px solid #ad967c;
  height: 105px;
  display: inline-block;
}

.card{
  height: 100px;
}
@media only screen and (max-width: 900px){
  .App{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
  }
  .card{
    height: 50px;
  }
  .cardBorder{
    height: 55px;
  }
  .shedded{
    height: 225px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
  }
  .shedded div{
    font-size: .8em;
    padding: 0 5px;
  }
  .button{
    font-size: .65em;
    padding: 5px 5px;
    /* padding-top: 5px; */

  }
  .quick-start ul{
    padding-left: 12px;
    font-size: .6em;
  }
  .quick-start h5{
    font-size: 1em;
  }
  .quick-start div{
    width: 100%;
  }
  .col{
    padding-left: 0px;
    padding-right:0px;
  }
  .center.col{
    padding-top: 20px;
  }
  h4{
    font-size: 1em;
  }
  .navbar{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .nav-link{
    font-size: .8em;
    padding-bottom: 4px;
  }
  .navbar-brand{
    font-size: 1em;
    margin-right: 10px;
  }
  .About {
    font-size: .8em;
  }
  .About h1{
    font-size: 1.5em;
  }
  th{
    font-size: .8em;
  }
}
